/* レイアウトの崩れを防ぐための設定 */
* {
    margin:0px;
    padding:0px;
  }
  #my_body{
    width:820px;
    height:600px;
    background:#ccc;
  }
  
  /* divの範囲に枠線をつける */
  div {
    border:solid 1px;
  }
  
  /* 上部のタイトル部分 */
  #topbox {
    width:700px;  margin:10px;  padding:50px;
    background:#ffc;
  }
  
  /* 左側のメニュー部分　*/
  #leftbox {
    width:100px;  height:300px;  margin:10px;  padding:50px;
    float:left;
    background:#cff;
  }
  
  /* 右側のメイン部分 */
  #mainbox{
    width:470px;  height:300px;  margin:10px;  padding:50px;
    float:left;  background:#fcf;
  }